.dropDownContainer {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  background: #ffffff;
  display: grid;
  align-items: center;
  top: 0;
  left: 0;
  transition: 0.4s ease-in-out;
}

.icon {
  position: absolute;
  top: 1.2rem;
  right: 1.5rem;
  background: transparent;
  font-size: 2rem;
  cursor: pointer;
  outline: none;
}

.icon svg {
  color: rgb(0, 0, 0) !important;
}

.dropDownMenu {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 80px);
  text-align: center;
  margin-bottom: 4rem;
}

.dropDownLink {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropDownLink a {
  color: rgb(0, 0, 0) !important;
  font-size: 1.5rem;
  text-decoration: none;
  list-style: none;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .dropDownMenu {
    grid-template-rows: repeat(4, 60px);
  }
}
